<a href="https://colab.research.google.com/github/LuisDoc/Applied-Data-Analytics/blob/main/HandsOnPython_02_DatenEinlesen_Indexieren.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics 2

Dieses Notebook klärt folgende Fragen:
- Wie kann ich Daten einlesen?
- Wie kann ich die eingelesenen Daten anzeigen?
- Wie kann ich die Datentypen der einzelnen Merkmale (Variablen) anzeigen?
- Indexierung: Wie greife ich auf einzelne Elemente des Datensatzes zu?
- Indexierung bei Zeitreihen: Wie kann ich auf elegante Art und Weise mit Zeitstempeln arbeiten?

Hilfreich bei der Bearbeitung ist das Cheat Sheet, welches die wichtigsten grundlegenden Python Befehle zur Datenanalyse zusammenfasst. Sie finden das Cheat Sheet auf ILIAS.

## Benötigte Bibliothek pandas einbinden

In [2]:
# Importieren sie die Bibliothek pandas, vergeben Sie dazu das Kürzel pd
# s. Cheat Sheet unter "Dateien einlesen
import pandas as pd

## Daten einlesen über Pandas Funktion pd.read_csv('Pfadname')

In [3]:
# Lesen Sie datensatz1.csv ein
# s. Cheat Sheet unter "Dateien einlesen"

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
raw_data = pd.read_csv('/content/drive/My Drive/datensatz1.csv')

# Die Daten sind nun in einem pandas data frame gespeichert. 
# Die Anzahl der Zeilen und Spalten des data frames kann über das Attribut shape ausgegeben werden: 
# (bitte im Folgenden immer vervollständigen)

raw_data.shape

(2187, 4)

In [9]:
# die Datentypen der einzelnen Spalten können mit dtypes angezeigt werden (bitte vervollständigen):
raw_data.dtypes

Date            object
Consumption    float64
Wind           float64
Solar          float64
dtype: object

In [13]:
# ersten paar Zeilen anzeigen mit head():
raw_data.head(4) #Gib die ersten 4 Zeilen aus

         Date  Consumption     Wind   Solar
0  2012-01-01      948.128  227.465   6.587
1  2012-01-02     1269.581  207.327   6.574
2  2012-01-03     1334.745  473.468  24.679
3  2012-01-04     1347.136  499.804  14.681

In [14]:
# letzten paar Zeilen anzeigen mit tail():
raw_data.tail(4) #Gib die letzten 4 Zeilen aus

            Date  Consumption     Wind   Solar
2183  2017-12-28   1299.86398  506.424  14.162
2184  2017-12-29   1295.08753  584.277  29.854
2185  2017-12-30   1215.44897  721.247   7.467
2186  2017-12-31   1107.11488  721.176  19.980

In [17]:
# 7 zufällige Zeilen ausgeben:
raw_data.sample(n = 7)

            Date  Consumption     Wind    Solar
1893  2017-03-13     1478.837  107.996  135.051
414   2013-02-18     1406.563   29.527   34.831
455   2013-04-02     1345.605  122.047  107.823
1982  2017-06-10     1149.633   89.474  214.426
596   2013-08-21     1265.775   15.984  159.203
1918  2017-04-07     1450.322  404.733   97.879
657   2013-10-21     1365.215  166.227   59.546

## Indexierung mit Zeilen- und Spaltennummer
- Funktioniert mit data.iloc[Zeilenindex, Spaltenindex]

In [23]:
# Wert in Zeile 1, Spalte 3 ausgeben
raw_data.iloc[1,3]

6.574000000000002

In [44]:
# Wert in letzter Zeile, Spalte 3 ausgeben
raw_data.iloc[raw_data.shape[0]-1,3] #Row Count -1, weil Indexierung bei 0 beginnt

19.98

In [28]:
# zur Kontrolle tail()
raw_data.tail(1)

            Date  Consumption     Wind  Solar
2186  2017-12-31   1107.11488  721.176  19.98

In [50]:
# 1. Zeile ausgeben
raw_data.iloc[1]

Date           2012-01-02
Consumption      1269.581
Wind              207.327
Solar               6.574
Name: 1, dtype: object

In [49]:
# 2. Spalte ausgeben
raw_data.iloc[2]

Date           2012-01-03
Consumption      1334.745
Wind              473.468
Solar              24.679
Name: 2, dtype: object

In [51]:
# zur Kontrolle head()
raw_data.head(2)

         Date  Consumption     Wind  Solar
0  2012-01-01      948.128  227.465  6.587
1  2012-01-02     1269.581  207.327  6.574

In [54]:
# Zeilen mit den Indizes 5 bis 15 ausgeben
raw_data.iloc[5:16]

          Date  Consumption     Wind   Solar
5   2012-01-06     1291.215  286.265  13.160
6   2012-01-07     1175.688  368.288   4.115
7   2012-01-08     1103.383  220.851   8.440
8   2012-01-09     1443.371  151.837   5.264
9   2012-01-10     1434.631  175.995  17.827
10  2012-01-11     1449.768  197.434  10.849
11  2012-01-12     1442.448  446.327  18.023
12  2012-01-13     1403.402  415.106  18.778
13  2012-01-14     1203.165  174.690  26.772
14  2012-01-15     1150.920   34.468  36.609
15  2012-01-16     1487.782   52.345  39.682

In [60]:
# Zeilen 5 bis 15 von Spalten 1 bis 3 ausgeben
raw_data.iloc[5:15, 1:3]

    Consumption     Wind
5      1291.215  286.265
6      1175.688  368.288
7      1103.383  220.851
8      1443.371  151.837
9      1434.631  175.995
10     1449.768  197.434
11     1442.448  446.327
12     1403.402  415.106
13     1203.165  174.690
14     1150.920   34.468

## Zeitstempel als Index setzen
Da eine Indexierung über Zeilen- und Spaltennummer bei dem Datensatz eher umständlich ist, wollen wir lieber über das Datum und den Spaltennamen gehen. 
Dazu setzen wir den Zeitstempel als Index und verwenden später diesen anstatt der Zeilennummer

In [114]:
# 1. Schritt (optional): Erzeuge ein neues Data Frame mit einer Kopie der Rohdaten. Das neue data frame wird data genannt.
data = raw_data.copy()

# 2. Schritt: Ändere im neuen data frame das Format der Spalte 'Date' zu datetimes. 
data['Date'] = pd.to_datetime(data.Date)
# s. Cheat sheet unter "Mit dem Zeitstempel indizieren"

In [94]:
# Überprüfe, ob die Umwandlung geklappt hat
print('Rohdatensatz:')
print(raw_data['Date'].head(), '\n')

print('Neuer Datensatz:')
print(data['Date'].head(),'\n')

print('Alle Datentypen des Datensatzes:')
print(data.dtypes)

Rohdatensatz:
0    2012-01-01
1    2012-01-02
2    2012-01-03
3    2012-01-04
4    2012-01-05
Name: Date, dtype: object

Neuer Datensatz:
0   2012-01-01
1   2012-01-02
2   2012-01-03
3   2012-01-04
4   2012-01-05
Name: Date, dtype: datetime64[ns]

Alle Datentypen des Datensatzes:
Date           datetime64[ns]
Consumption           float64
Wind                  float64
Solar                 float64
dtype: object

In [115]:
# 3. Schritt: Setze die Spalte 'Date' als neuen Index, siehe Cheat sheet:
data = data.set_index("Date")
# Überprüfen durch Ausgabe der ersten Spalten des data frames:
data.head(10)

            Consumption     Wind   Solar
Date
2012-01-01      948.128  227.465   6.587
2012-01-02     1269.581  207.327   6.574
2012-01-03     1334.745  473.468  24.679
2012-01-04     1347.136  499.804  14.681
2012-01-05     1376.658  523.851   5.071
2012-01-06     1291.215  286.265  13.160
2012-01-07     1175.688  368.288   4.115
2012-01-08     1103.383  220.851   8.440
2012-01-09     1443.371  151.837   5.264
2012-01-10     1434.631  175.995  17.827

## Mit Zeitstempel indexieren

In [121]:
# Alle Daten aus dem Jahr 2013:
filtered_data = data.loc['2013-1-1':'2013-12-31']

In [122]:
# Überprüfen mit sample():
filtered_data.sample(5)

            Consumption     Wind    Solar
Date
2013-07-28      991.371   99.354  136.815
2013-10-31     1352.353  201.365   78.120
2013-07-09     1305.309   31.469  195.691
2013-11-14     1452.086   62.393   24.861
2013-09-07     1111.058   73.324  122.700

In [119]:
# alle Daten aus dem März 2014:
filtered_data = data.loc['2014-3-1':'2014-3-31']

In [120]:
# Überprüfen mit head und tail:
filtered_data.head(1).append(filtered_data.tail(1))

            Consumption    Wind    Solar
Date
2014-03-01     1310.863  42.380   74.222
2014-03-31     1446.114  14.138  112.798

In [123]:
# alle Daten von März 2014 bis Februar 2015:
filtered_data = data.loc['2014-3-1':'2015-1-31']

In [124]:
# Überprüfen mit head und tail:
filtered_data.head(1).append(filtered_data.tail(1))

            Consumption     Wind   Solar
Date
2014-03-01     1310.863   42.380  74.222
2015-01-31     1360.551  133.954  20.213

## Mit Zeitstempel und Spaltenname indexieren

In [127]:
# Der Energieverbrauch (Consumption) in den Jahren 2014 bis 2015:
data.loc['2014-1-1':'2014-12-31', 'Consumption']

Date
2014-01-01    1080.080
2014-01-02    1343.101
2014-01-03    1379.776
2014-01-04    1271.029
2014-01-05    1182.416
                ...
2014-12-27    1198.834
2014-12-28    1168.079
2014-12-29    1316.093
2014-12-30    1300.367
2014-12-31    1183.510
Name: Consumption, Length: 362, dtype: float64

In [133]:
# Spalten "Solar" und "Wind" am 01.12.2013:
data.loc['2013-12-1','Wind':'Solar']

Wind     211.319
Solar     24.464
Name: 2013-12-01 00:00:00, dtype: float64